# Binance
BINANCE_API_KEY=your_api_key
BINANCE_API_SECRET=your_api_secret
BINANCE_PRIVATE_KEY_PATH=.binance_api/binance_private.pem
BINANCE_PRIVATE_KEY_PASSPHRASE=

# Bitunix
BITUNIX_API_KEY=your_bitunix_api_key
BITUNIX_API_SECRET=your_bitunix_api_secret
BITUNIX_BASE_URL=https://fapi.bitunix.com
BITUNIX_DEFAULT_LEVERAGE=5
BITUNIX_BLUECHIP_LEVERAGE=10
BITUNIX_AUTO_SL=true

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Firebase
FIREBASE_CRED_PATH=firebase-credentials.json

# REDIS
REDIS_URL="redis"

# Mode (true = no real orders placed)
DRY_RUN=true

# Trading
RISK_PER_TRADE_PERCENT=0.01
LEVERAGE=10
TOTAL_SIGNALS=5
VOLUME_THRESHOLD_USD=50000000
BACKTEST_INITIAL_BALANCE=10000
